*{
	margin: 0;
	padding: 0;
}


.navbar-main {
	color: dodgerblue ;
	font-family: 'Lobster Two', cursive;
	font-size: 35px;
	background-color: white;
	position: fixed;
	top: 0;
}

.list{
	list-style-type: none;
	font-size: 22px;
	color: dodgerblue;
}
