*{
	margin: 0;
	padding: 0;
}

.navbar{
	color: #4DB4D7 ;
	font-family: 'Lobster Two', cursive;
	font-size: 25px;
	background-color: white;
}

.nav-item, .list, #items, form, footer{
	list-style-type: none;
	font-size: 18px;
	color: dodgerblue;
	font-family: 'Raleway', sans-serif;
}

.fancy-toggler.navbar-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30,144,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fancy-toggler.navbar-toggler {
  border-color: dodgerblue;
}

.fancy-toggler.navbar-toggler:focus {
  outline-color: dodgerblue;
}

.bg-image {
  background: url('../images/waves.jpeg') no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  background-size: cover;
  o-background-size: cover;
  padding-bottom: 10px;
}


.my-photo{
	width: 250px;
	height: 360px;
	padding-top: 15px;
}

h4, h3, p {
	color: black;
	font-family: 'Raleway', sans-serif;
}

h2{
	color: black;
	font-family: 'Lobster Two', cursive;
}

h1{
	color: white;
	font-family: 'Lobster Two', cursive;
}

.main{
	background-color: white;
	opacity: 0.8;
	width: 800px;
	padding: 11px;
}

.image{
	border-radius: 50%;
}


ul {
	list-style-type: none;
}

.contact{
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Lobster Two', cursive;
	font-size: 50px;
}

.interestheader{
	padding-top: 50px;
	padding-bottom: 10px;
	font-family: 'Lobster Two', cursive;
	font-size: 35px;
	color: #4DB4D7;
}

.subheader{
	color: black;
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
}
